*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.json
*.cfg
pycocotools/*
results*.txt
gcp_test*.sh
*.weights
*.pt
*.torchscript
darknet53.conv.74
yolov3-tiny.conv.15
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
wandb/
.installed.cfg
*.egg
*.manifest
*.spec
.coverage
.coverage.*
.cache
.scrapy
.ipynb_checkpoints
.python-version
.env
.venv*
venv*/
ENV*/
/site
.mypy_cache/
.DS_Store
.AppleDouble
.LSOverride
Icon
Icon?
._*

